name: Sample CI

on:
  push:
    branches: ["master", "main", "test"]

  pull_request:

jobs:
  backend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Backend Dependencies
        run: cd backend && npm i

      - name: Run Backend Tests
        run: cd backend && npm run test

  frontend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Frontend Dependencies
        run: cd frontend && npm i

      - name: Run Frontend Tests
        run: cd frontend && npm run Tests

      - name: Build Frontend
        run: cd frontend && npm run build